body
{
	background-color: #a0d9ff;
}

#TestArea
{
	position: relative;
	width: 1100px;
	height: 500px;
	border: thin solid black;
	background-image: url("Test2Background.png");
}

div.TestBar
{
	position: absolute;
	left: 0px;
	width: 49px;
	background-color: #b6ff00;
	border-top: 1px solid #808080;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
}