body
{
	color: #d7ba7d;
	background-color: #1e1e1e;
	font-family: Calibri, "Lucida Grande", sans-serif;
}

button
{
	color: #fff;
	background-color: #3276b1;
	border: 1px solid #285e8e;
	border-radius: 4px;
	cursor: pointer;
}

#EasingMotionBall
{
	display: block;
	position: absolute;
	left: 0px;
	top: 100px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: tan;
}

#BigBox
{
	display: block;
	position: absolute;
	left: 400px;
	top: 200px;
	width: 50px;
	height: 50px;
	background-color: #ff000099;
}

#LittleBox
{
	display: block;
	position: absolute;
	left: 390px;
	top: 190px;
	width: 10px;
	height: 10px;
	background-color: green;
}

.positionMarker
{
	display: block;
	position: absolute;
	top: 200px;
	width: 25px;
	height: 20px;
	font-size: 8pt;
	background-color: gray;
	color: white;
}

#CenterBox
{
	display: block;
	position: absolute;
	left: 0px;
	top: 395px;
	width: 10px;
	height: 10px;
	background-color: yellow;
}

#OrbitingBox
{
	display: block;
	position: absolute;
	left: 10px;
	top: 375px;
	width: 50px;
	height: 50px;
	background-color: #3276b1;
}
